<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

  <link rel="stylesheet" type="text/css" href="/raven/static/css/default.css">

  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <section class="s1">
    <div class="main-container">

      <div class="greeting-container">
        <h1>Hi, I'm Denis Demyanov</h1>
      </div>

      <div class="intro-container">

        <div class="navigation-container">
          <div class="dots-wrapper">
            <div id="dot-1" class="browser-dots"></div>
            <div id="dot-2" class="browser-dots"></div>
            <div id="dot-3" class="browser-dots"></div>
          </div>
          <ul id="navigation">
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="left-column">
          <img id="profile-pict" src="/raven/static/images/raven_intro.png" alt="My photo added later">
          <h5 style="text-align: center; line-height: 0;">Here your can personolize Theme*</h5>
        
          <div id="themes-setting">
            <div id="light-mode" class="themes-dots"></div>
            <div id="dark-mode" class="themes-dots"></div>
            <div id="green-mode" class="themes-dots"></div>
            <div id="purple-mode" class="themes-dots"></div>
          </div>

          <p id="set-notes">*Themes will be saved for your next visit</p>          
        </div>

        <div class="right-column">
          right-column
        </div>

      </div>
    </div>
  </section>

  <section class="s2">
    <div class="main-container">
      About
    </div>
  </section>

  <section class="s1">
    <div class="main-container">
      Portfolio
    </div>
  </section>

  <section class="s2">
    <div class="main-container">
      Contact
    </div>
  </section>
  
</body>
</html>